.section{
  width: 100%;
  height: 100vh;
  background-color: #151c48;
  position: relative;
}
.container{
  background: #fff;
  border-radius: 20px;
  
}
.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myImage{
  width: 500px;
  height: 500px;
  object-fit: contain;
}
.about{
  margin-top: 10px;
}
.name{ 
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 11;
}
.name::before{
  content: "";
  width: 50px;
  height: 30px;
  background-color: aquamarine;
  z-index: -1;
}

