.myImage{
    width: 600px;
    height: 200px;
}

.About{
    display:block;
}


/* 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


$poppins:  'Poppins', sans-serif;

$desktop-width: 625px;

$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-bold: 600;
$line-height-base: 1.5;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;

$height: 100%;
$width: 100%;
$background-white: #8d7649;
$body-color: #665e34;

$overlay-purple: #4d5494;
$pinkest: #d61c5b;
$transparent: transparent;

$ball-size: 60px;

* {
  text-decoration: none;
  box-sizing: border-box;
}


.landing  {
  height: $height;
  margin: 0;
  padding: 0;
  position: absolute;
  width: $width;

  &::before {
    animation: puff .4s 1.8s cubic-bezier(.55, .055, .675, .19) forwards,
    borderRadius .3s 1.6s linear forwards;
    border: 4000px solid $overlay-purple;
    border-radius: 50%;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    padding: 0;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &:after {
    background-color: $background-white;
  }
}

.poster-wrapper {
  animation: init .5s .2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
  ballDown 1s .8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
  ballUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
  materia .5s 2.8s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  background-color: $background-white;
  border-radius: 50%;
  height: $ball-size;
  left: 50%;
  margin-top: 70px;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $ball-size;
  z-index: 200;

  &::before {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }
}

.posters-container {
  animation: fadesIn 1s ease 3s normal forwards;
  background-color: $background-white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  opacity: 0;
  overflow: auto;
  position: relative;
  visibility: hidden;
}


.poster-heading {
  display: flex;
  flex: 1 0 80%;

  h1 {
    border-bottom: 6px solid #333;
    color: #2c2c2c;
    font-family: $poppins;
    font-weight: 700;
    letter-spacing: -.05rem;
    width: $width;
  }
}

.poster-sub-heading {
  align-self: flex-end;
  display: flex;
  flex: 1 0 20%;

  h2 {
    border-left: 6px solid #333;
    font-family: $poppins;
    font-weight: 700;
    padding-left: 6px;
    writing-mode: vertical-lr;
  }
}

.reveal-text {
  animation-name: reveal-text;
  cursor: default;
  display: block;
  font-weight: 700;
  letter-spacing: -.05rem;
  position: relative;

  &::after {
    animation: revealer-text 1.2s 3.8s cubic-bezier(.55, .055, .675, .19) both;
    bottom: 0;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    content: '';
    left: 0;
    mix-blend-mode: hard-light;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    top: 0;
    z-index: 999;
  }
}

.poster-header,
.poster-footer {
  display: flex;
}

.poster-header {
  align-items: flex-end;
  flex-flow: row nowrap;
  margin-bottom: 24px;
  mix-blend-mode: darken;
   flex: 1 1 100%
}

.poster-body {
  animation: fadesIn .5s ease 3.4s normal forwards;
  display: flex;
  flex: 1 1 $width;
  flex-flow: row wrap;
  margin: auto;
  min-height: 320px;
  opacity: 0;
  visibility: hidden;
}

.poster-text {
  animation: fadesIn .3s ease .2s normal forwards;
  display: none;
  flex: 1 0 $width;
  flex-flow: row wrap;
  opacity: 0;
  padding: 12px;
  visibility: hidden;

  h4 {
    flex: 1 0 $width;
    line-height: $h1;

    span {
      animation-name: reveal-text;
      background-image: linear-gradient( 135deg, #FAD7A1 0%, #E96D71 100%);
      cursor: default;
      display: inline;
      font-family: $poppins;
      font-weight: 400;
      
      line-height: 0;
      padding: 6px;
      position: relative;
      transition: background-image 1000ms linear;

      &::before {
        background-image: none;
      }

      &::after {
        animation: revealer-text 1.2s cubic-bezier(.55, .055, .675, .19) reverse;
        background-image: linear-gradient( 135deg, #FAD7A1 0%, #E96D71 100%);
        bottom: 0;
        content: '';
        left: 0;
        mix-blend-mode: screen;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: -2px;
        transform: scaleX(0);
        transform-origin: 0 50%;
        z-index: 999;
      }
    }
  }

  &.show {
    display: flex;
  }
}

.poster-author {
  display: flex;
  font-family: $poppins;
  font-weight: 400;
  margin-left: auto;
 
}

.slab-wrapper {
  animation: fadesIn .5s ease 3.6s normal forwards;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 $width;
  height: 220px;
  opacity: 0;
  visibility: hidden;

  &.show {
    height: 0;
  }
}

.slab {
  $shade-num: 10;
  display: flex;
  flex: 1 0 20%;
  overflow: hidden;
  position: relative;

  &:nth-of-type(odd) {
    &::before {
      background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    }
  }

  &:nth-of-type(even) {
    &::before {
      background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
    }
  }

  &::before {
    animation: .8s mutate linear 3 alternate;
    bottom: auto;
    content: '';
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    width: $width;
  }

  @for $i from 1 through $shade-num {
    &:nth-of-type(#{$i}) {
      &::before {
        animation-delay: 0.2 * $i + 3s;
      }
    }
  }
}

.poster-footer {
  flex-flow: column wrap;
  margin-top: 24px;
  height: 120p;
}

.foot-box {
  $links: 4;
  $link-delay: .2s;
  align-items: center;
  animation: slideup 1s ease 4.2s normal forwards;
  display: flex;
  font-family: $poppins;
  font-weight: 700;
  margin-bottom: 4px;
  mix-blend-mode: multiply;
  overflow: hidden;
  position: relative;
  text-align: center;

  &::before {
    color: lavender;
    content: attr(data-num);
    font-family: $poppins;
    font-size: calc(10vw + 5vh + 2vmin);
    font-weight: 700;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    transform: rotate(-45deg);
  }

  &:nth-of-type(even) {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  }

  &:nth-of-type(odd) {
    background-image: linear-gradient(-225deg, #C5C1FF 0%, #FFBAC3 56%, #2CD8D5 100%);
  }

  @for $i from 2 through $links {
    &:nth-of-type(#{$i}) {
      animation-delay: $i * $link-delay + 4.4s;
    }
  }


  a {
    color: white;
    font-size: $h4;
    font-family: $poppins;
    margin: auto;
    mix-blend-mode: color-dodge;
    overflow: hidden;
    padding: 12px 0;
    position: relative;
    width: 90%;
    z-index: 1;

   
  }
}


@media screen and (min-width: $desktop-width) {
 .posters-container {
  flex-flow: column wrap;
}

.poster-header {
  flex: 0 1 $width;
}

.poster-heading {
  flex: 1 0 90%;

  h1 {
    font-size: 4rem;
  }
}

.poster-sub-heading {
  flex: 1 0 10%;

  h2 {
    font-size: 3rem;
    padding-left: 24px;
  }
}

.poster-footer {
  flex-flow: row nowrap;
}

.foot-box {
  flex: 1 0 25%;
  margin: 0;
}

.poster-body {
  flex: 1 0 $width;
  height: 40vh;
  width: $width;
}

.poster-text {
  margin: auto;
  max-width: 600px;
}

}





@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes revealer-text {

  0%, 50% {
    transform-origin: 0 50%;
  }

  60%, 100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
  
}

@keyframes mutate {
  0% {
    height: 0;
  }
  100% {
    height: 150%;
  }
}

@keyframes init {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    height: $ball-size;
    left: 50%;
    margin-top: 0;
    opacity: 1;
    width: $ball-size;
  }
}

@keyframes ballDown {

  0%,
  50%,
  100% {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }

  0% {
    top: 50%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 100%;
  }
}

@keyframes ballUp {

  0% {
    border-radius: 50%;
    top: 100%;
  }

  0%,
  50%,
  75%,
  100% {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }

  75% {
    top: 40%;
  }

  100% {
    top: 50%;
  }
}

@keyframes materia {

  0%,
  50% {
    border-radius: 50%;
  }

  0%,
  50%,
  75%,
  85%,
  95% {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }

  75%,
  85%,
  95% {
    border-radius: 0;
  }

  100% {
    border-radius: 0;
    height: $height;
    width: $width;
  }
}

@keyframes puff {
  0%,
  100% {
    border-radius: 50%;
  }

  0% {
    height: 0;
    padding: 0;
    top: 100%;
  }

  100% {
    height: 100%;
    padding: 0 100%;
    top: 50%;
    border: 0;
    overflow-x: hidden;
    left: 0;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }

  100% {
    border-radius: 0;
  }
}


@keyframes fadesIn {

  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideup {
  from {
    transform: translateY(-12px);
  }

  to {
    transform: translateY(0);
  }
} */
