@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap%27');
html{
  height: 100%;
}
/* body {
  margin: 0;
  padding: 0;
  background: #b1aa72;
  position: absolute;
} */
.myMainDiv{
  width: 100%;
  height: 100%;
}
.NavBarItems{
  display: flex;
  width: 100%;
  height: 100%;
}
.audio {
  background-color: #b1aa7228;
  text-align: center;
  padding-bottom: 20px;
  /* display: inline; */
  /* border: 3px solid green; */
}
.SearchItems{
  width: 50%;
  /* border: 3px solid green; */
  /* margin-left: auto; */
  margin-right: auto;
}
.LogOutItems{
  float: left;
}
.LogOutButton {
  margin-top: 0px;
  background-color: #b1aa7200;
  color: rgb(179, 177, 177);
  height: 35px;
  width: 5%;
}
.myIcons{
	float: left;
}
.LogOut5{
	margin-left: 40px;
}
.WelcomeMessage1 {
  font-family: 'Libre Barcode 39 Text', cursive;
  float: left; 
  margin-top: 10px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  /* border: 3px solid green; */
  padding: 10px;
  color: white;
}

.operaLink {
  float: right;
  color: rgb(179, 177, 177);
  margin-top: 15px;
  font-weight: 15px;
}
.myInput{
  flex: left;
  width: 160px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 25px;
  transition: width 0.4s ease-in-out;
  background-color: rgba(182, 182, 182, 0);
  
}
.myInput:focus {
  flex: left;
  width: 30%;
  background-color: rgb(230, 230, 230);
}

.myButton10 {
  width: 60px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.096);
  margin-right: 400px;
}



::placeholder {
  color: rgb(255, 255, 255);
}

.Images:before {
  content: "";
  position: fixed;
  bottom: 0px;
  left: 40;
  right: 0;
  z-index: -1;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://wallpaperaccess.com/full/113479.jpg');
  width: 100%;
  height: 100%;
}

.Images {
  z-index: 9999;
  text-align: center;
}

.pagination {
  background: #b1aa724b;
  color: white;
  /* background-color: rgba(182, 182, 182, 0); */
  width: auto;
  height: 100px;
  justify-content: center;
  align-items: center;
}
